<!-- NAVBAR -->
<div>
  <nav>
    <ul>
      <li><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"><span class="page-title">Home Component</span></a></li>
      <li><a routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page"><span class="page-title">About Component</span></a></li>
      <li><a routerLink="photos" routerLinkActive="active" ariaCurrentWhenActive="page"><span class="page-title">Photos Component</span></a></li>
      <li><a routerLink="services" routerLinkActive="active" ariaCurrentWhenActive="page"><span class="page-title">Services Component</span></a></li>
      <li><a routerLink="contact" routerLinkActive="active" ariaCurrentWhenActive="page"><span class="page-title">Contact Component</span></a></li>
    </ul>
  </nav>
</div>
<!-- ROUTER PAGES -->
<!-- rotte che cambiano, mostro il contenuto delle varie view in base a quella selezionata -->
<router-outlet></router-outlet>